<div>
  <h1 class="font-bold text-4xl">LiveElement demos</h1>
  <ul class="list-disc mt-4 ml-8 text-2xl">
    <li><%= link_to "Search", search_index_path %>
    <li><%= link_to "Markdown", markdown_index_path %>
    <li><%= link_to "Validate", validate_index_path %>
  </ul>
</div>
